<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soil.mapper.SoilTypeMapper">
	<!-- 查询SQL片段 -->
	<sql id="select">
		s.id id,s.name name,s.parentid parentid,st.name parentName
	</sql>
	
	<!-- 筛选片段 -->
	<sql id="serach">
		where s.name like '%${keyword}%'
	</sql>
	
	<!-- 添加信息 -->
	<insert id="insert" parameterType="soilType">
		INSERT INTO
		soiltype (id,name,parentid)
		VALUES(#{id},#{name},#{parentid})
	</insert>

	<!-- 查询分页数据 -->
	<select id="list" parameterType="com.soil.util.Pagination"
		resultType="soilType">
		SELECT
		<include refid="select" />
		from soiltype s LEFT join soiltype st
		on s.parentid=st.id
		<include refid="serach" />
		LIMIT #{skipNum},#{takeNum}
	</select>

	<!-- 查询分页条数 -->
	<select id="count" parameterType="com.soil.util.Pagination"
		resultType="int">
		SELECT COUNT(*) from soiltype s  LEFT join soiltype st
		on s.parentid=st.id
		<include refid="serach" />
		LIMIT #{skipNum},#{takeNum}
	</select>

	<!-- 删除信息 -->
	<delete id="delete" parameterType="soilType">
		DELETE FROM soiltype WHERE
		id=#{id}
	</delete>

	<!-- 根据Id查询信息 -->
	<select id="findById" parameterType="string" resultType="soilType">
		select
		<include refid="select" />
		from soiltype s LEFT join soiltype st
		on s.parentid=st.id where s.id=#{id}
	</select>

	<!-- 更新信息 -->
	<update id="update" parameterType="soilType">
		UPDATE soiltype set
		name=#{name},
		parentid=#{parentid}
		where id=#{id}
	</update>
	
	
	
	<select id="findIDAndNumber" resultType="com.soil.util.SelectCustom" >
	SELECT id value,`name` name FROM soiltype
	</select>
	
	
</mapper>