@charset "utf-8";
/* CSS Document */

.text_line{
	height:1px; 
	width:100%; 
	border-bottom:0.1px dashed rgb(190,190,190); 
	clear:both;
	}
.Article_title1{
	float:left; 
	font-size:20px; 
	font-family:'Lucida Console', Monaco, monospace; 
	font-weight:bold; 
	height:40px; 
	line-height:40px;
	text-align:center;
	width:100%;
	margin-bottom:10px;
	}
.comment_B{
	width:95%;  
	margin:0 auto 0; 
	margin-top:10px;;
	}
.count1{
	word-wrap: break-word; 
	word-break: normal;
	color:rgb(53,73,94);
    line-height: 200%;
	font-size:16px;
	}